body {

 font-family: 'Quicksand', sans-serif;
 margin: 0;
}
 h1, h2, h3, h4, h5, h6 {
 font-family: 'Quicksand', sans-serif;
 text-transform: uppercase;
  margin: 0;
}

.topnav {
  overflow: hidden;
  text-align: right;
  background-color: #000000;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #3bd6bf;
  color: black;
}

.topnav a.active {
  /* background-color: #3bd6bf; */
  color: white;
}
