body {

 font-family: 'Quicksand', sans-serif;
 margin: 0;
}
 h1, h2, h3, h4, h5, h6 {
 font-family: 'Quicksand', sans-serif;
 text-transform: uppercase;
  margin: 0;
}

.main {
  margin-left: 50px;
  display: flex;
  clear: both;
}

#main-image {
  float: right;
  width: 50%;
  height: auto;
}

#main-text {
  float: left;
  width: 50%;
}

.main p {
  font-size: 18px;
}

#main-title {
  margin-top: 15%;
  font-size: 50px;
}

#main-button {
  background-color: #B7e4c7;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
  padding: 15px 40px;
}

.topnav {
  overflow: hidden;
  text-align: right;
  background-color: #B7e4c7;
}

.topnav a {
  float: right;
  color: black;
  text-align: right;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #74C69D;
  color: black;
}

.topnav a.active {
  /* background-color: #3bd6bf; */
  color: black;
}
